	/* --------------------------- Venera Font css ---------------------------------*/

	
	@font-face {
    font-family: Venera;
    src: url(fonts/Venera-100.otf);
	}

	@font-face {
    font-family: Venera300;
    src: url(fonts/Venera-300.otf);
	}
	
	@font-face {
    font-family: Venera500;
    src: url(fonts/Venera-500.otf);
	}

	@font-face {
    font-family: Venera700;
    src: url(fonts/Venera-700.otf);
	}
	
	@font-face {
    font-family: Venera900;
    src: url(fonts/Venera-900.otf);
	}